<% provide(:title, 'Home') %>

<% if signed_in? %>
  <div class="row">
    <div class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </div>
    <div class="col-md-8">
      <section>
        <%= render 'shared/micropost_form' %>
        <br>
        <h3 class="center">Wall posts</h3>
        <% if @feed_items.any? %>
          <ol class="microposts">
            <%= render partial: 'shared/feed_item', collection: @feed_items %>
          </ol>
          <%= will_paginate @feed_items %>
        <% end %>
      </section>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
  <h1>Welcome to the RoRBlog</h1>

  <h3 class="orange">
    What happens in world ROR developments and simply world you read in the RoRBlog,
    and What people think about this news or event<br>
    If you develop interesting app, you should tell about it
  </h3>

  <%= link_to "Sing up now!", new_user_path, class: "btn btn-large btn-success" %>
  <div>
    <h3 class="orange">Also you authorize from:</h3>
    <%= link_to image_tag("vkontakte.png", alt: "Vk"),
                user_vkontakte_omniauth_authorize_path %>
    or
    <%= link_to image_tag("facebook.png", alt: "Facebook"),
                '#' %>
  </div>
  <br>
</div>

<% end %>