<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-sm-4">
    <section>
      <h1>
        <div>
          <img src="<%= avatar_for(@user)%>" class="img-circle">
        </div>
        </br>
        <div>
          <%= @user.name %>
        </div>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%=  render 'shared/follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3 class="center">Posts band (<%= @user.microposts.count %> message)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>